.nav {
  overflow: hidden;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;

    p {
      margin: 0px;
    }
  }
}
