.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  color: black;

  .copyright {
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    margin: 0px;
    transition: all 0.5s cubic-bezier(0.75, 0, 0.24, 1);
  }
  .name {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    transition: all 0.5s cubic-bezier(0.75, 0, 0.24, 1);
  }
  .codeBy {
    padding-left: 0.3em;
    transition: all 0.5s cubic-bezier(0.75, 0, 0.24, 1);
  }

  .valentina {
    padding-left: 0.3em;
    transition: all 0.5s cubic-bezier(0.75, 0, 0.24, 1);
  }

  .marino {
    position: absolute;
    left: 150px;
    padding-left: 1em;
    transition: all 0.5s cubic-bezier(0.75, 0, 0.24, 1);
  }

  &:hover {
    .name {
      padding-left: 30px;
      .codeBy {
        transform: translateX(-150%);
      }
      .valentina {
        transform: translateX(-95px);
      }
      .marino {
        transform: translateX(-70px);
      }
    }
  }
}
